body {
  margin: 0px;
  background-color: #042841;
  color: #000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
}
/* HEADER SECTION */
header {
  width: 960px;
  height: 100px;
  padding: 0px;
  margin: 0px auto;
  z-index: 100;
  background-image: url(images/Banner.jpg);
  background-color: black;
  background-size: 960px 100px;
  background-repeat: no-repeat;
}
.logo {
  width: 180px;
  height: 100px;
  float: left;
}
.topMenu {
  padding-right: 80px;
  color: #053759;
  text-align: right;
  font-size: 9pt;
  font-family: Verdana, Geneva, sans-serif;
}
.topMenu ul li {
  list-style-type: none;
  display: inline;
}
.topMenu li:before {
  content: " | ";
}
.topMenu li:first-child:before {
  content: none;
}
.topMenu a, a:visited {
  text-decoration: none;
  color: black;
}
.topMenu a:hover {
  color: royalblue;
}
h1 {
  text-align: center;
  padding-right: 225px;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
  padding: 0px;
  margin: 0px auto;
  z-index: 100;
  background-color: lightslategrey;
}
.main {
  width: 751px;
  background-color: #FFF;
  padding: 0px 0px;
  margin: 0px auto;
}
/* MAIN CONTENT SECTION - RIGHT */
.content {
  width: 780px;
  padding: 0px 10px;
  display: table-cell;
  vertical-align: top;
}
.content h2 {
  color: #053759;
}
.content a, a:visited {
  text-decoration: none;
  color: #053759;
}
.content a:hover {
  color: royalblue;
}
.content label {
  font-size: 8pt;
}
.borderon {
  border-width: 10px;
  border-color: #036;
  border-style: solid;
}
footer {
  background-color: #5F9EA0;
  width: 960px;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
}
select {
      background-color: lightslategray;
      color: whitesmoke;
      font-family: Courier New, Courier, monospace;
      text-transform: uppercase;
    }
